* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Arial', sans-serif;
}


/* Navbar */
.navbar {
   display: flex;
   justify-content: space-between;
   padding: 20px 50px;
   background: #333;
   color: white;
   position: sticky;
   top: 0;
}

.logo {
   color: rgb(255, 251, 4);
}

.projects {
   padding: 50px;
   text-align: center;
   background: #f0db40;
}


.nav-links {
   list-style: none;
   display: flex;
}


.nav-links li {
   margin-left: 20px;
}


.nav-links a {
   color: white;
   text-decoration: none;
}


/* Hero Section */
.hero {
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #ff9a20;
   text-align: center;
}


.hero h1 { font-size: 3rem; margin-bottom: 10px; }


.btn {
   margin-top: 20px;
   padding: 10px 25px;
   background: #007bff;
   color: white;
   text-decoration: none;
   border-radius: 5px;
}


/* Project Grid */
.projects { padding: 50px; text-align: center; }


.project-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
   margin-top: 30px;
}


.project-card {
   background: #eee;
   padding: 40px;
   border-radius: 10px;
   border: 1px solid #000000;
}


/* Footer */
.contact {
   padding: 40px;
   background: #333;
   color: white;
   text-align: center;
}



